<table class="table table-striped">
    <thead>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>住址</th>
        <th>电话</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>赵三</td>
        <td>23 </td>
        <td>中国宁夏银川天宫一号</td>
        <td>18288888888</td>
    </tr>
    <tr>
        <td>李四</td>
        <td>23 </td>
        <td>中国宁夏银川天宫一号</td>
        <td>18288888888</td>
    </tr>
    <tr>
        <td>王五</td>
        <td>23 </td>
        <td>中国宁夏银川天宫一号</td>
        <td>18288888888</td>
    </tr>
    </tbody>
</table> 

<p>接收到的参数为：{{TableRowNum}} </p>
